extends layout 

block content 
    ul 
        each cultivar in cultivar_list 
            - if (cultivar.species)
                li 
                    a(href=cultivar.url) #{cultivar.name}
                    span(class='species-detail') (#{cultivar.species.name})
            - if (!cultivar.species)
                li 
                    a(href=cultivar.url) #{cultivar.name}
        else 
            li There are no cultivars.