extends layout 

block content 
    h1 #{title}

    form(class='cultivar-form' method='POST' action='')
        div.form-section.name-section
            label(for='name') New Cultivar Name:
            input#name.form-input(
                type='text',
                placeholder='Name of cultivar',
                name='name',
                required='true',
                value=(undefined === cultivar ? '' : cultivar.name)
            )
        div.form-section.species-section
            label(for='species') Parent Species:
            select#species.form-input(type='select', placeholder='Select species' name='species' required='true' )
                - if (species_list)
                    - species_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                        for singleSpecies in species_list
                            if cultivar
                                option(value=singleSpecies._id selected=(singleSpecies._id.toString()===cultivar.species._id.toString() ? 'selected' : false) ) #{singleSpecies.name}
                            else
                                option(value=singleSpecies._id) #{singleSpecies.name}
        button(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg