extends layout 

block content 
    h1= title 

    div(class='cultivar-info')
        div.cultivar-name-label.light.right Name:
        div(class='cultivar-name-text') #{cultivar_data.name}
        - if (cultivar_data.species)
            div(class='cultivar-species-label light right') Parent Species:
            div.cultivar-species-text 
                a(href=cultivar_data.species.url) #{cultivar_data.species.name}
        - if (cultivar_plants.length > 0)
            div(class='cultivar-plants-label light right') Plant varieties in this cultivar:
            div.cultivar-plants-text
                ul.cultivar-plants-list
                    each plant in cultivar_plants 
                        li.cultivar-plant 
                            a(href=plant.url) #{plant.name}
        div.cultivar-action-buttons
            div(class='cultivar-update action-button')
                a(href=cultivar_data.url + '/update') Update this cultivar
            div(class='cultivar-delete action-button')
                a(href=cultivar_data.url + '/delete') Delete this cultivar
