extends layout 

block content 
    h1= title 

    div(class='flavor-info')
        div(class='flavor-name') #{flavor_data.flavor}
        - if (flavor_plants.length > 0)
            div(class='flavor-plants') Plant varieties with this flavor note:
                ul
                    each plant in flavor_plants 
                        li 
                            a(href=plant.url) #{plant.name}
        div(class='flavor-update')
            a(href=flavor_data.url + '/update') Update this flavor
        div(class='flavor-delete')
            a(href=flavor_data.url + '/delete') Delete this flavor
