extends layout 

block content 
    ul 
        each plant in plant_list 
            li 
                a(href=plant.url) #{plant.name}
                - if (plant.species)
                    - if (plant.cultivar_list)
                        span(class='species-detail') (#{plant.species.name} var. #{plant.cultivar_list})
                    - else 
                        span(class='species-detail') (#{plant.species.name}) 
                -
                    let stockStatus;
                    if (plant.in_stock) {
                        stockStatus = 'Available';
                    } else {
                        stockStatus = 'Not Available';
                    }
                span(class='stock-status') [#{stockStatus}]
        else 
            li There are no plants.