extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-section
      label(for='name') Plant Name:
      input#name.form-input(type='text', placeholder='Name of plant' name='name' required='true' value=(undefined===plant ? '' : plant.name) )
    div.form-section
      label(for='species') Species:
      select#species.form-input(type='select', placeholder='Select species' name='species' required='true' )
        - species.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for singleSpecies in species
          if plant
            option(value=singleSpecies._id selected=(singleSpecies._id.toString()===plant.species._id.toString() ? 'selected' : false) ) #{singleSpecies.name}
          else
            option(value=singleSpecies._id) #{singleSpecies.name}
    div.form-section
      label(for='cultivars') Cultivar:
      select#cultivars.form-input(type='select', placeholder='Select cultivars' name='cultivars' required='true' )
        - cultivars.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for cultivar in cultivars
          if plant
            option(value=cultivar._id selected=(cultivar._id.toString()===plant.cultivar[0]._id.toString() ? 'selected' : false) ) #{cultivar.name}
          else
            option(value=cultivar._id) #{cultivar.name}
    div.form-section
      label(for='description') Description:
      textarea#description.form-input(type='textarea', placeholder='Description' name='description' required='true') #{undefined===plant ? '' : plant.description}
    div.form-section
      label Flavors:
      div
        for flavor in flavors
          div
            - if (plant && plant.flavor.length > 0)
                input.checkbox-input(type='checkbox', name='flavor', id=flavor._id, value=flavor._id, checked=(flavor._id.toString()===plant.flavor[0]._id.toString() ? true : false))
            - else
                input.checkbox-input(type='checkbox', name='flavor', id=flavor._id, value=flavor._id, checked=false)
            label(for=flavor._id) #{flavor.flavor}
    div.form-section
        label In Stock?
        div
            if plant
                input.checkbox-input(type='checkbox', name='in_stock', id='in_stock', value='true', checked=(plant.in_stock.toString()==='true' ? true : false) )
            else 
                input.checkbox-input(type='checkbox', name='in_stock', id='in_stock', value='true', checked=false)
            label(for='in_stock') Yes
    button(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
