extends layout 

block content 
    h1= title 

    div(class='plant-info')
        div(class='plant-name') #{plant_data.name}
        div(class='plant-classification')
            div(class='plant-species') Species: 
                a(href=plant_data.species.url) #{plant_data.species.name}
            div(class='plant-cultivars') Cultivars: 
                each oneCultivar in plant_data.cultivar 
                    div(class='plant-cultivar') 
                        a(href=oneCultivar.url) #{oneCultivar.name}
        div(class='plant-flavors') Flavors: 
            each oneFlavor in plant_data.flavor
                div(class='plant-flavor') 
                    a(href=oneFlavor.url) #{oneFlavor.flavor}
        div(class='plant-in-stock')
            -
                let stockStatus;
                if (plant_data.in_stock) stockStatus = 'Available!';
                if (!plant_data.in_stock) stockStatus = 'Not Available';
        | #{stockStatus}
        -   if (plant_data.in_stock)
            button(class='purchase-button')
                a(href='https://www.google.com/search?q=farmers+market+near+me' target='_blank' rel='noopener noreferrer') Click to Purchase
        div(class='plant-delete')
            a(href=plant_data.url + '/delete') Delete this plant