extends layout 

block content 
    h1= title 

    ul 
        each plant in plant_list 
            li 
                a(href=plant.url) #{plant.name}
                span(class='species-detail') (#{plant.species.name} var. #{plant.cultivar_list})
                -
                    let stockStatus;
                    if (plant.in_stock) {
                        stockStatus = 'Available';
                    } else {
                        stockStatus = 'Not Available';
                    }
                span(class='stock-status') [#{stockStatus}]
        else 
            li There are no plants.