extends layout 

block content 
    h1= title 

    div(class='species-info')
        div(class='species-name') #{species_data.name}
        div(class='species-description') 
            div(class='species-description-label') Description:
            div(class='species-description-body') #{species_data.description}
        - if (species_plants.length > 0)
            div(class='species-plants') Plant varieties in this species:
                ul
                    each plant in species_plants 
                        li 
                            a(href=plant.url) #{plant.name}