extends layout 

block content 
    h1 #{title}

    form(method='POST' action='')
        div.form-section
            label(for='name') New Species Name:
            input#name.form-input(
                type='text',
                placeholder='Name of species',
                name='name',
                required='true',
                value=(undefined === species ? '' : species.name)
            )
        div.form-section
            label(for='description') Description: 
            textarea#description.form-input(
                name='description'
                value=(undefined === species ? '' : species.description)
            )
        button(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg