extends layout 

block content 
    -if (species != undefined)
        h1 Updating #{species.name}
    -if (species == undefined)
        h1 Create a New Species

    form(class='species-form' method='POST' action='')
        label.species-name-label(for='name') Species Name:
        input#name.species-name-input.form-input(
            type='text',
            placeholder='Name of species',
            name='name',
            required='true',
            value=(undefined === species ? '' : species.name)
        )
        label.species-description-label(for='description') Description: 
        textarea.species-description-input#description.form-input(
            name='description',
            required='true',
            placeholder='Enter species description here'
        )
            if (species != undefined)
                | #{species.description}
        button(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg